
# ignore random cached files
**/.DS_Store
**/*.pyc

# ignore environment folders
env

# ignore all data files
**/*.gz
**/*.npz
**/*.npy
predictors/StereoPredictor/model_params.pt
perc22a/predictors/StereoPredictor/model_params.pt
